$bgColor: #ffffff;
$content: #a03c64;
$text: #000;
$black: #000;
$grey: #777;
$transparent: rgba(0, 0, 0, 0);
$white: #fff;
$size: 14px;
$border: 1px;

$darkPrimary: '#D32F2F';
$primary: '#c13229';
$lightPrimary: 'rgba(255,205,210,0.8)';
$accent: '#795548';
$background: '#1F0808';
$transparent: 'rgba(0,0,0,0)';
$windowTint: 'rgba(0, 0, 0, 0.4)';
$panther: '#161616';
$charcoal: '#595959';
$coal: '#2d2d2d';
$bloodOrange: '#fb5f26';
$snow: 'white';
$whitish: 'rgba(255,255,255,0.5)';
$underlayColor: 'rgba(0,0,0,0.1)';
$ember: 'rgba(164, 0, 48, 0.5)';
$fire: '#e73536';
$drawer: 'rgba(30, 30, 29, 0.95)';
$eggplant: '#251a34';
$banner: '#5F3E63';
$hairline: '#8E8E8E';
