// 0 - Theme

$app-primary: #0f3460;
$app-secondary: #e94560;
$accent: #000000;
$myColor: #fff;
$size: 14px;
$bgColor: #000;
$pinkish: #A03C64;
$whitish: #ccc;
$border: 1px;
$black: #000;
$transparent: rgba(255,255,255,0);
