.ant-steps-icon {
  margin-left: 10px;
  font-size: 100%;
  border: none;
}

.steps-content {
  margin: 30px;
  padding: 10px;
  width: 400px;
  height: 250px;
}
.ant-input-suffix {
  margin-right: -8px !important;
}
.ant-steps-finish-icon {
  margin-left: -3px;
}
.anticon {
  font-size: 100%;
}
.form-select {
  width: 350px;
}

.ant-form-item-label
  > label.ant-form-item-required:not(
    .ant-form-item-required-mark-optional
  )::before {
  content: none;
}
.ant-input {
  border-radius: 10px;
  padding: 4px 11px;
  font-weight: 500;
  height: 40px;
  color: #777777;
}
.centre {
  margin-left: -50%;
}

@media only screen and (max-width: 600px) {
  .ModalButton {
    width: 230px !important;
    margin-left: 5px !important;
  }
  .form-select {
    width: 250px;
  }
  .ant-input {
    width: 250px;
  }
  .dropdown-menu[data-bs-popper] {
    position: absolute !important;
    left: unset !important;
    right: 10% !important;
  }
  .centre {
    margin-left: -23%;
  }
}
.ModalButton {
  width: 250px;
  margin : 20px 0px 0px 10px;
 
}
.Navitems>li:hover{
background-color: #a03c64;
color: white;
border-radius: 10px;

}
.Navitems>li{
  font-size: 14px;
  font-weight: 700;
  color: #353535;
  list-style: none ;
  margin-top: 25px;
  margin-right: 40px;
  cursor: pointer;
  padding: 5px 15px;
  border-bottom: 1px solid #a03c64;
  transition: 0.4s;
}
.Navitems{
  display: flex;

}
.StartProjectbtn{
  
  border-radius:30px ;
  font-size: xx-large;
  width: 650px !important;
  height: 70px;
  margin: 25px !important;
}
.modalnxtbtn{
  width: 81%;
  margin-left: 8%;
}
.modaldonebtn{
  width: 40%;
  margin-left: 8%;
}
.modalfinishbtn{
  width: 81%;
  margin-left: 8%;
}