.reportcontainer {
  width: 90%;
  justify-content: center;
  align-items: center;
  margin-left: 30px;
}
.projecttable{
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
left: 50%;
}